/* for sidebar */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fongoogleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}

.sidebar{
background-color: rgb(233, 237, 203);

font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
height: 100vh;
width:12vw;

}
.sidebar nav{
    padding: 45px;
}
.sidebar nav li{
    list-style: none;
    font-size: 25px;
    padding: 30px 0;
}
.main{
    /* background-color: rgb(204, 127, 255); */
    width: 80vw;
}.container{
    display: flex;
}
.infoContainer{
    background-color: rgb(176, 175, 171);
    height: 58vh;
    width: 75vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
}
.devInfo{
    display: flex;
   justify-content: center;
    flex-direction: column;
}
.hello{
font-size: 50px;
font-family: 'Inconsolata', monospace;
}
.name{
font-size: 45px;
font-weight: bold;

font-family: 'Inconsolata', monospace;
}
.about{
font-size: 35px;

font-family: 'Roboto', sans-serif;
}
.button button{

}
.devPic img{
height: 58vh;
border-radius:50% 50% 50% 50% ;


}
.button{
    margin-top: 44px;
}
.moreabout{
  font-family:'Courier New', Courier, monospace;
}